<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <form fxLayout="column" fxLayoutGap="1%" class="form" [formGroup]="searchForm">
      <mat-form-field fxFlex="100%">
        <mat-label>Search</mat-label>
        <input matInput formControlName="search" />
      </mat-form-field>
      <mat-checkbox fxFlex="100%" formControlName="hasParks">Parks</mat-checkbox>
      <mat-checkbox fxFlex="100%" formControlName="hasHikingTrails">Hiking Trails</mat-checkbox>
      <mat-checkbox fxFlex="100%" formControlName="hasTouristAttractions">Tourist Atractions</mat-checkbox>
      <mat-checkbox fxFlex="100%" formControlName="hasTouristRoutes">Tourist Routes</mat-checkbox>
      <button mat-raised-button color="primary" fxFlex="100%" (click)="search()">Search</button>
    </form>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button class="filter-button" mat-raised-button (click)="drawer.toggle()">
      <mat-icon>filter_alt</mat-icon>
    </button>

    <div #mapView></div>


  </div>

</mat-drawer-container>