<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread,	%X{X-B3-TraceId:-},%X{X-B3-SpanId:-}] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="STASH"
		class="net.logstash.logback.appender.LogstashTcpSocketAppender">
		<destination>uscled221:5000</destination>

		<encoder
			class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
			<providers>
				<mdc /> <!-- MDC variables on the Thread will be written as JSON fields -->
				<context /> <!--Outputs entries from logback's context -->
				<version /> <!-- Logstash json format version, the @version field in the output -->
				<logLevel />
				<loggerName />

				<pattern>
					<pattern>
						{
						"serviceName": "template-service",
						"trace": "%X{X-B3-TraceId:-}",
						"span": "%X{X-B3-SpanId:-}"
						}
					</pattern>
				</pattern>

				<threadName />
				<message />

				<logstashMarkers />
				<arguments />

				<stackTrace />
			</providers>
		</encoder>
	</appender>
	<springProfile name="local,dev">
		<property name="LOG_PATH"
			value= "C:\\ag\\log" />

		<appender name="SAVE-TO-FILE"
			class="ch.qos.logback.core.rolling.RollingFileAppender">
			<encoder
				class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
				<Pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36}	- %msg%n</Pattern>
			</encoder>
			<rollingPolicy
				class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
				<fileNamePattern>${LOG_PATH}/template.log.%d{yyyy-MM-dd}
				</fileNamePattern>
				<maxHistory>40</maxHistory>
				<totalSizeCap>3GB</totalSizeCap>
			</rollingPolicy>
		</appender>
		<root level="info">
			<appender-ref ref="SAVE-TO-FILE" />
			<appender-ref ref="STDOUT" />
		</root>
	</springProfile>
	<springProfile name="qas">
		<property name="LOG_PATH"
			value="E:\\Java\\servers\\wildfly-16.0.0.Final\\standalone\\log" />

		<appender name="SAVE-TO-FILE"
			class="ch.qos.logback.core.rolling.RollingFileAppender">
			<encoder
				class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
				<Pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36}	- %msg%n</Pattern>
			</encoder>
			<rollingPolicy
				class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
				<fileNamePattern>${LOG_PATH}/template.log.%d{yyyy-MM-dd}
				</fileNamePattern>
				<maxHistory>40</maxHistory>
				<totalSizeCap>3GB</totalSizeCap>
			</rollingPolicy>
		</appender>
		<root level="info">
			<appender-ref ref="STDOUT" />
			<appender-ref ref="SAVE-TO-FILE" />
		</root>
	</springProfile>
	<springProfile name="prod">
		<property name="LOG_PATH"
			value="E:\\Java\\servers\\wildfly-16.0.0.Final\\standalone\\log" />

		<appender name="SAVE-TO-FILE"
			class="ch.qos.logback.core.rolling.RollingFileAppender">
			<encoder
				class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
				<Pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36}	- %msg%n</Pattern>
			</encoder>
			<rollingPolicy
				class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
				<fileNamePattern>${LOG_PATH}/template.log.%d{yyyy-MM-dd}
				</fileNamePattern>
				<maxHistory>40</maxHistory>
				<totalSizeCap>3GB</totalSizeCap>
			</rollingPolicy>
		</appender>
		<root level="info">
			<appender-ref ref="SAVE-TO-FILE" />
		</root>
	</springProfile>
</configuration>